<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClubList</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full text-left text-sm font-light">
                    <thead class="border-b font-medium dark:border-neutral-500">
                    <th>Id</th>
                    <th>Title</th>
                    <th>PhotoURL</th>
                    <th>Content</th>
                    <th>Created On</th>
                    </thead>
                    <tr th:each="club:${clubs}" class="border-b dark:border-neutral-500">
                        <td th:text="${club.getId()}" class="whitespace-nowrap px-6 py-4 font-medium"></td>
                        <td th:text="${club.getContent()}" class="whitespace-nowrap px-6 py-4 font-medium"></td>
                        <td th:text="${club.getPhotoUrl()}" class="whitespace-nowrap px-6 py-4 font-medium"></td>
                        <td th:text="${club.getContent()}" class="whitespace-nowrap px-6 py-4 font-medium"></td>
                        <td th:text="${club.getCreatedOn()}" class="whitespace-nowrap px-6 py-4 font-medium"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>