<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="container w-full mx-auto p-2 bg-black rounded-md">
    <div>
        <ul class="flex justify-between px-2">
            <li class="hover:bg-white text-white hover:text-black px-1 rounded-md"><a href="#" th:href="@{/home}">Home</a></li>
            <li class="hover:bg-white text-white hover:text-black px-1 rounded-md"><a href="#" th:href="@{/todo}">Your Tasks</a></li>
            <li class="hover:bg-white text-white hover:text-black px-1 rounded-md"><a href="#" th:href="@{/todo/add}">Create Tasks</a></li>
            <li class="hover:bg-white text-white hover:text-black px-1 rounded-md"><a href="#" th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</div>
<div class="flex justify-items-center">

<div class="mx-auto rounded-md shadow-2xl bg-slate-200
w-96 p-4">
    <form action="#" th:action="@{/todo/{listId}/edit(listId=${list.id})}" method="post" class="flex flex-col gap-4" th:object="${list}">
        <div class="">
            <input type="text" class="hidden" th:field="${list.id}">
            <h1 class="text-3xl font-mono font-semibold border-b-2 border-violet-400">Title</h1>
            <input id="title" placeholder="Enter the title Title" th:field="${list.title}"
                   class="focus:outline-none focus:outline-violet-600 rounded-md
                font-mono font-light w-full mt-2 py-2"
            >
        </div>
        <div class="">
            <h1 class="text-3xl font-mono font-semibold border-b-2 border-violet-400">Description</h1>
            <textarea id="description" placeholder="Enter the title description"
                      class="focus:outline-none focus:outline-violet-600 rounded-md
                font-mono font-light w-full mt-2 py-2" th:field="${list.description}"
            ></textarea>
        </div>

        <div class="">
            <button type="submit" class="w-full bg-violet-500 py-2 rounded-md">Add</button>
        </div>
    </form>
</div>
</div>
</body>
</html>