<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO List</title>
    <link rel="stylesheet" href="/static/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<h2 class="text-4xl font-mono font-semibold">All your lists are here</h2>
<div class="grid grid-cols-1 mx-auto shadow-2xl rounded-md container
md:grid-cols-4
py-4 px-4 sm:grid-cols-2">
    <div class="bg-violet-500 rounded-md shadow-2xl px-3 w-[250px] m-2" th:each="list:${lists}">
        <h1 class="text-4xl mt-2 border-b-2 font-semibold font-mono" th:text="${list.getTitle()}">Heading</h1>
        <p class="font-mono font-light" th:text="${list.getDescription()}">Some Content</p>
    </div>
</div>

<div class="mt-4 mx-auto">
    <a href="/todo/add" class="bg-violet-500 py-2 rounded-md">Click to Add More</a>
</div>
</body>
</html>